.sa-container{
    margin-top: var(--global-margin-below-navbar);
    font-family: var(--global-font-code-text);
}

.code{
    width:700px;
}

.square{
    display: flex;
    background-color: coral;
    text-align: center;
    margin: 10px;
    min-height: 55px;
    min-width: 55px;
}

.square-sorted{
    display: flex;
    background-color:violet;
    text-align: center;
    margin: 10px;
    min-height: 55px;
    min-width: 55px;
}

.square-text{
    margin:auto;
}

#random-button{
    margin-top: -15px;
    width:115px;
}

#sort-button{
    margin-top: 10px;
    width:115px;
}

#main-title{
    font-family: Copperplate, Papyrus, fantasy;
}

#left-nav{
    margin-left: var(--global-margin-left-inverse);
}
